@mixin friend($color-s, $color-m, $color-l) {
    .user-in-friends {
        display: flex;
        justify-content: space-between;
        min-height: 6vh;
        padding: 1.5vh 1vw;
        margin-bottom: 3vh;
        color: $color-s;
        background-color: $color-m;
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button {
                background-color: $color-s;
                font-size: 1em;
                text-align: center;
                color: $color-m;
                border-top: .2em solid $color-s;
                border-bottom: .2em solid $color-s;
                cursor: pointer;
                transition-duration: .5s;
                &:hover {
                    background-color: $color-m;
                    color: $color-s;
                    border-color: $color-s;
                }
            }
        }
    }
}