@mixin login($color-s, $color-m, $color-l) {
    #login {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-s, $alpha: .8);
        div {
            position: relative;
            top: 15vh;
            margin: auto;
            width: 14vw;
            min-height: 40vh;
            padding: 1vh 1vw;
            background-color: $color-l;
            border: 2px solid $color-s;
            h2 {
                min-height: 6vh;
                margin: 0;
                text-align: center;
                border-bottom: 2px solid $color-s;
            }
            h4 {
                color: $color-s;
                margin: 0vh;
                margin-bottom: 1vh;
                span {
                    color: black;
                    border-bottom: 2px solid black;
                    cursor: pointer;
                }
            }
            form {
                margin-top: 5vh;
            }
            label {
                h3 {
                    text-align: center;
                    margin: 0;
                    padding: 1vh 0; 
                }
                input {
                    display: block;
                    width: 100%;
                    height: 2.5vh;
                    margin: auto;
                    border: 2px solid $color-s;
                }
            }
            input[type = "submit"] {
                display: block;
                margin: auto;
                margin-top: 3vh;
                width: 3vw;
                height: 6vh;
                font-size: 2em;
                color: $color-s;
                background-color: $color-m;
                border: 2px solid $color-s;
                transition-duration: .2s;
                &:hover {
                    color: initial;
                }
            }
        }
    }
}