@mixin nav($color-s, $color-m, $color-l) {
    %inlines {
        font: inherit;
        color: $color-s;
        font-size: 1.2em;
        margin: 0;
        padding: .3em;
    }
    #navigation {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96vw;
        min-height: 4vh;
        padding: 0 2vw;
        background-color: $color-m;
        z-index: 2;
        a {
            text-decoration: none;
        }
        .users-amount {
            display:flex;
            align-items: center;
            a, button, span {
                @extend %inlines;
            }
            div {
                background-color: $color-s;
                span {
                    display: inline-block;
                    font-size: 1em;
                    color: $color-m;
                }
            }
        }
        .user-data {
            display:flex;
            align-items: center;
            .username {
                @extend %inlines;
            }
        }
    }
}