@mixin rooms($color-s, $color-m, $color-l) {
    %buttons {
        display: inline-block;
        font: inherit;
        text-align: center;
        font-size: 1.2em;
        padding: 1.3vh 1.3vw;
        color: $color-s;
        background-color: $color-m;
        transition-duration: .5s;
        cursor: pointer;
        &:hover {
            color: $color-m;
            background-color: $color-s;
        }
    }
    #rooms {
        position: relative;
        top: 20vh;
        margin: auto;
        width: 20vw;
        min-height: 15vh;
        padding: 1vh 1vw;
        background-color: $color-l;
        border: .2em solid $color-m;
        .buttons-container {
            min-height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            button, a {
                @extend %buttons;
            }
        }
        .room-list {
            position: absolute;
            top: -.2em;
            bottom: -.2em;
            right: -11vw;
            width: 10vw;
            background-color: $color-l;
            border: .2em solid $color-m;
            overflow: auto;
            span {
                display: block;
                margin-top: .3vh;
                background-color: $color-s;
                text-align: center;
                font-size: 1em;
                color: $color-l;
                width: 100%;
                padding: 1vh 0;
                border-top: .2em solid $color-s;
                border-bottom: .2em solid $color-s;
                cursor: pointer;
                transition-duration: .5s;
                &:hover {
                    background-color: $color-m;
                    color: $color-s;
                    border-color: $color-s;
                }
            }
            #empty-list {
                background-color: inherit;
                color: $color-s;
            }
        }
    }
}