@mixin room($color-s, $color-m, $color-l) {
    #room {
        position: relative;
        top: 3vh;
        margin: auto;
        width: 78vw;
        min-height: 84vh;
        padding: 1vh 1vw;
        background-color: $color-l;
        border: .2em solid $color-m;
        .sidebar {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10vw;
            &.left {
                left: .5vw;
                text-align: center;
                div {
                    display: flex;
                    flex-direction: column;
                    margin-top: 3vh;
                    span {
                        background-color: $color-m;
                        color: $color-s;
                        padding: .5vh .2vw;
                        margin-bottom: 1vw;
                    }
                }
            }
            &.right {
                display: flex;
                flex-direction: column;
                right: 0;
                padding: .5vh .5vw;
                button, a {
                    background-color: $color-s;
                    font-size: 1em;
                    text-align: center;
                    color: $color-l;
                    border: 2px solid $color-l;
                    padding: .8em;
                    margin-bottom: 1vh;
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                }
            }
        }
        h2 {
            text-align: center;
            margin: 0 10vw;
        }
        .chat {
            position: absolute;
            display: flex;
            flex-direction: column;
            left: 11vw;
            right: 11vw;
            top: 5vh;
            bottom: 2vh;
            .message-container {
                height: 100%;
                overflow: auto;
            }
            form {
                display: flex;
                flex-direction: column;
                height: 25vh;
                input {
                    background-color: $color-s;
                    font-size: 1em;
                    color: $color-l;
                    padding: .8em;
                    border: none;
                    cursor: pointer;
                }
                textarea {
                    height: 100%;
                    resize: none;
                    font-size: 1.4em;
                    font-weight: 600;
                    padding: 1vh 1vw;
                    background-color: $color-m;
                    border: 2px solid $color-s;
                    outline: none;
                }
            }
        }
        .user-list {
            position: absolute;
            top: 0;
            bottom: 0;
            right: -9.5vw;
            padding: 1vh .5vw;
            border: .2em solid $color-m;
            width: 7.6vw;
            background-color: $color-l;
            overflow: auto;
            h3 {
                text-align: center;
                margin: 0;
                margin-bottom: 3vh;
            }
            span {
                display: block;
                border: none;
                margin-bottom: 1vh;
                background-color: $color-s;
                text-align: center;
                font-size: 1em;
                color: $color-l;
                width: 100%;
                padding: 1vh 0;
                text-decoration: none;
                cursor: pointer;
            }
            :last-child {
                margin: 0;
            }
        }
    }
}