@mixin settings($color-s, $color-m, $color-l) {
    #settings-container {
        width: 44vw;
        margin: auto;
    }
    #settings-list {
        position: fixed;
        top: 4vh;
        bottom:0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 10vw;
        border-left: .2em solid $color-m;
        border-right: .2em solid $color-m;
        padding: 4vh 0;
        background-color: $color-l;
        span {
            color: $color-s;
            font-size: 1.2em;
            padding: 1vh 1.5vw 0;
            border-bottom: .2em solid $color-m;
            cursor: pointer;
            transition-duration: .5s;
            &:hover {
                background-color: $color-m;
                border-color: $color-s;
            }
        }
    }
    #settings {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $color-s;
        width: 30vw;
        min-height: 84vh;
        padding: 6vh 1vw;
        margin-left: 12vw;
        border-left: .2em solid $color-m;
        border-right: .2em solid $color-m;
        background-color: $color-l;
        .model-container {
            margin-bottom: 8vh;
        }
    }
}