@mixin theme-model($color-s, $color-m, $color-l) {
    .theme-model {
        position: relative;
        display: inline-block;
        width: 14vw;
        height: 14vh;
        // margin: 5%;
        .navigation-model {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 10%;
            background-color: $color-m;
        }
        .container-model-1 {
            position: absolute;
            top: 10%;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: $color-s;
        }
        .container-model-2 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 33%;
            right: 33%;
            width: 33%;
            background-color: $color-l;
        }
    }
}